.create-video {
    padding-top: 5%;
    color: #236F21;
}

.submit-video-button {
    color: #FFFFFF;
    background-color:#236F21;
}

.update-video-button {
    color: #FFFFFF;
    background-color: #cba135;
}

.delete-video-button {
    color: #FFFFFF;
    background-color: #CC5500;
}

.create-video-header {
    font-size: 36px;
    text-align: center;
    color: #236F21;
}

.create-video-form label{
    color: #236F21;
    justify-content: center;
}

.create-video-form input{
    color: #236F21;
    justify-content: center;
}