.create-video {
    padding-top: 20%;
    color: #236F21;
}

.sub-button {
    color: #FFFFFF;
    background-color:#236F21;
}

.create-header {
    font-size: 36px;
    color: #236F21;
}

.create-form label{
    color: #236F21;
}

.create-form input{
    color: #965883;
}