.create-playlist {
    padding-top: 5%;
    color: #965883;
}

.submit-playlist-button {
    color: #FFFFFF;
    background-color: #965883;
}

.update-video-button {
    color: #FFFFFF;
    background-color: #cba135;
}

.delete-video-button {
    color: #FFFFFF;
    background-color: #CC5500;
}

.create-playlist-header {
    font-size: 36px;
    text-align: center;
    color: #965883;
}

.create-playlist-form label{
    color: #965883;
    justify-content: center;
}

.create-playlist-form input{
    color: #965883;
    justify-content: center;
}