.create-playlist {
    padding-top: 20%;
    color: #965883;
}

.sub-button {
    color: #FFFFFF;
    background-color: #965883;
}

.create-header {
    font-size: 36px;
    text-align: center;
    color: #965883;
}

.create-form label{
    color: #965883;
}

.create-form input{
    color: #236F21;
}