.App {
  background: url(./assets/plants.jpeg);
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  /* background-repeat: no-repeat; */
  background-size: cover;
  height: 100%;
  overflow: hidden;
  /* margin: auto; */
  /* padding: auto; */
}