.auth {
    background-image: url(../../assets/solo_succulent.JPG);
    width: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
  }

.login-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #965883;
}

.login-button {
    background-color:#965883
}

.register-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #965883;
}

.register-button {
    background-color: #965883;
}

.auth-welcome {
    padding-top: 5%;
    text-align: center;
    color: #965883;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}